@import "tailwindcss";

:root {
  --teal: #34d399;
  --teal-dim: rgba(0, 196, 154, 0.06);
  --teal-glow: rgba(0, 196, 154, 0.13);
  --teal-mid: rgba(0, 196, 154, 0.27);
  --dark: #070908;
  --dark2: #0C0F0D;
  --dark3: #131713;
  --dark4: #191E19;
  --dark5: #1F261F;
  --border: rgba(255, 255, 255, 0.04);
  --border2: rgba(255, 255, 255, 0.08);
  --text: #DBE8DC;
  --soft: #9FB8A0;
  --muted: #b0c1b1;
  --warn: #D96B3F;

  --background: var(--dark);
  --foreground: var(--text);
}

@theme {
  --color-teal: var(--teal);
  --color-teal-dim: var(--teal-dim);
  --color-teal-glow: var(--teal-glow);
  --color-teal-mid: var(--teal-mid);
  --color-dark: var(--dark);
  --color-dark2: var(--dark2);
  --color-dark3: var(--dark3);
  --color-dark4: var(--dark4);
  --color-dark5: var(--dark5);
  --color-border-subtle: var(--border);
  --color-border-muted: var(--border2);
  --color-text-main: var(--text);
  --color-text-soft: var(--soft);
  --color-text-muted: var(--muted);
  --color-warn: var(--warn);

  --font-display: "Barlow Condensed", sans-serif;
  --font-body: "Barlow", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;
}

@layer base {

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background: var(--dark);
    color: var(--text);
    font-family: var(--font-body);
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-display);
    text-transform: uppercase;
  }
}

.r {
  opacity: 0;
  transform: translateY(16px);
  transition: opacity 0.72s cubic-bezier(0.22, 1, 0.36, 1), transform 0.72s cubic-bezier(0.22, 1, 0.36, 1);
}

.r.on {
  opacity: 1;
  transform: none;
}